@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubscribedSuccessfully</title>
</head>
<body style="text-align:center" class="jumbotron">
    <h2>@ViewBag.Title.</h2> 

    <h3 style="font-style:italic">
        <b>
            Our publish/subscribe system is a technology that is being used by millions of web users around
            the world to keep track of their favorite websites.
            Our system solve a problem for people who regularly use the web. It allows you to easily stay
            informed by retrieving the latest content from the sites you are interested in. You save
            time by not needing to visit each site individually. You ensure your privacy, by not needing
            to join each site's email newsletter.
        </b>
    </h3>


    <img src="~/Image/About.jpg" width="400" height="280" alt="Stock Price Current Value" />
    <br />

</body>
</html>
