@model IEnumerable<FinalYearProject.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubscribedSuccessfully</title>

    
</head>
<body style="text-align:center" onload="setTimeout('runSlideShow()', 1001);">

    

    <div class="jumbotron">


        <h3 style="text-align:center">Welcome to</h3><br/>
        <h1 style="text-align:center;color:darkblue;font-style:italic">Publish/Subscribe</h1><br />
        <h3 style="text-align:center">System</h3><br /><br />
    </div>

    <!--<div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-3">
            <p><a class="btn btn-danger" href="/Home/PublisherSignIn">Sign in as Publisher &raquo;&raquo;</a></p>
        </div>

        <div class="col-md-2">
            <p><a class="btn btn-danger" href="/Home/SubscriberSignIn">Sign in as Subscriber &raquo;&raquo;</a></p>
        </div>

        <div>
            <p style="text-align:center">or @Html.ActionLink("create an account", "Create", "Home")</p>
        </div>

    </div>-->
    <!--<div class="row">
        <div class="col-md-3">
            <p><a class="btn btn-success" href="/Home/SubscriberSignIn">LOG IN HERE &raquo;&raquo;</a></p>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("create an account", "Create", "Home")
        </div>
    </div>-->
</body>
</html>
