
<html>

	<body>
		<input type="number" name="num" id="num" />
		<input type="submit" value="Submit" onclick="submit()">

  		<br><br>

	    <table border="1" id="t1">
	    	<tr>
		      	<td>ID</td>
		      	<td>Project Name</td>
		      	<td>URL</td>
		      	<td>Picture</td>
		      	<td>Heading</td>
	      	</tr>
	    
		{% for i in pros %}
			{% if i.id %}
				<tr>	
					<td>{{ i.id }}</td>
					<td>{{ i.name }}</td>
					<td>{{ i.url }}</td>
					<td>{{ i.pic }}</td>
					<td>{{ i.heading }}</td>
					
				</tr>
			{% endif %}	
		{% endfor %}
		</table>
	
		
		<br>
		<table>
			<tr>
				<td>Description</td>
				<td>Number</td>
			</tr>
		{% for i in pros %}
			{% if i.id %}
			{% else %}
				
				{% for j in i %}
					{% autoescape off %}
					<tr>
						{{j}}
					</tr>
					{% endautoescape %}
					<!-- <div id="heading">{{j}}</div> -->
			
				{% endfor %}	
				
			{% endif %}	
		{% endfor %}
		</table>
	</body>


<script type="text/javascript">
	// window.onload=formatHeading(); //仅需要加这一句
	function formatHeading(){
		var headingContents = document.getElementById("heading").innerHTML;
		headingContents=headingContents.replace(/{&#39; /, "<br>");
		headingContents=headingContents.replace(/{&#39; /, ": ");

		headingContents=headingContents.replace(/, ' /, "<br>");
		headingContents=headingContents.replace(/}/, "");
		document.getElementById("heading").innerHTML = headingContents;

	}
    function submit(){
    	var number = document.getElementById('num').value;
    	var url = document.URL.replace(/\?num=(.*)/, "");
    	location.href=url+'?num='+number;
    }
</script>
</html>